.container {
  width: 100%;
}

.song-list {
  width: 90%;
  margin: 5% auto;
}

.song {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 16px;
  border: 2px solid grey;
}

.create-song-container {
  padding: 25px;
}

.create-song-form label {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

.create-song-form input {
  margin-top: 10px;
  padding-left: 10px;
}

.create-new-song-button {
  border: 1px solid red;
  background-color: red;
  width: 100px;
  height: 100px;
  padding: 25px;
  position: absolute;
  right: 5%;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-radius: 50%;
}
.create-new-song-button:hover {
  cursor: pointer;
  background-color: white;
  color: red;
}


.back-to-song-list {
  width: 150px;
  padding: 0px 15px;
  font-size: 40px;
  font-weight: 600;
  border: 1px solid black;
}

.back-to-song-list:hover {
  cursor: pointer;
  background-color: rgb(0, 132, 255);
  color: white;
}

input[type="text"] {
  font-size: 24px;
  font-weight: 500;
}

.lyric-list-container {
  
}

.lyric-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}